In [1]:
import pandas as pd

In [2]:
train_data=pd.read_csv(r"C:\Users\visha\first_ML_Course\Dataset\Blue Book Bulldozers\Train.csv")
print(train_data.head())

C:\Users\visha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (13,39,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

   SalesID  SalePrice  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1139246      66000     999089     3157         121           3.0      2004
1  1139248      57000     117657       77         121           3.0      1996
2  1139249      10000     434808     7009         121           3.0      2001
3  1139251      38500    1026470      332         121           3.0      2001
4  1139253      11000    1057373    17311         121           3.0      2007

   MachineHoursCurrentMeter UsageBand         saledate  ...  \
0                      68.0       Low  11/16/2006 0:00  ...
1                    4640.0       Low   3/26/2004 0:00  ...
2                    2838.0      High   2/26/2004 0:00  ...
3                    3486.0      High   5/19/2011 0:00  ...
4                     722.0    Medium   7/23/2009 0:00  ...

  Undercarriage_Pad_Width Stick_Length Thumb Pattern_Changer Grouser_Type  \
0                     NaN          NaN   NaN             NaN          NaN
1                     NaN          NaN   NaN             NaN          NaN
2                     NaN          NaN   NaN             NaN          NaN
3                     NaN          NaN   NaN             NaN          NaN
4                     NaN          NaN   NaN             NaN          NaN

  Backhoe_Mounting Blade_Type Travel_Controls Differential_Type  \
0              NaN        NaN             NaN          Standard
1              NaN        NaN             NaN          Standard
2              NaN        NaN             NaN               NaN
3              NaN        NaN             NaN               NaN
4              NaN        NaN             NaN               NaN

  Steering_Controls
0      Conventional
1      Conventional
2               NaN
3               NaN
4               NaN

[5 rows x 53 columns]

In [5]:
train_data

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401120,6333336,10500,1840702,21439,149,1.0,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401121,6333337,11000,1830472,21439,149,1.0,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401122,6333338,11500,1887659,21439,149,1.0,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401123,6333341,9000,1903570,21435,149,2.0,2005,NaN,NaN,10/25/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401124,6333342,7750,1926965,21435,149,2.0,2005,NaN,NaN,10/25/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   object
 9   saledate                  401125 non-null  object
 10  fiModelDesc               401125 non-null  object
 11  fiBaseModel               401125 non-null  object
 12  fiSecondaryDesc           263934 non-null  object
 13  fiModelSeries             56908 non-null   object
 14  fiModelDescriptor         71919 non-null   object
 15  ProductSize               190350 non-null  object
 16  fiProductClassDesc        401125 non-null  object
 17  state                     401125 non-null  object
 18  ProductGroup              401125 non-null  object
 19  ProductGroupDesc          401125 non-null  object
 20  Drive_System              104361 non-null  object
 21  Enclosure                 400800 non-null  object
 22  Forks                     192077 non-null  object
 23  Pad_Type                  79134 non-null   object
 24  Ride_Control              148606 non-null  object
 25  Stick                     79134 non-null   object
 26  Transmission              183230 non-null  object
 27  Turbocharged              79134 non-null   object
 28  Blade_Extension           25219 non-null   object
 29  Blade_Width               25219 non-null   object
 30  Enclosure_Type            25219 non-null   object
 31  Engine_Horsepower         25219 non-null   object
 32  Hydraulics                320570 non-null  object
 33  Pushblock                 25219 non-null   object
 34  Ripper                    104137 non-null  object
 35  Scarifier                 25230 non-null   object
 36  Tip_Control               25219 non-null   object
 37  Tire_Size                 94718 non-null   object
 38  Coupler                   213952 non-null  object
 39  Coupler_System            43458 non-null   object
 40  Grouser_Tracks            43362 non-null   object
 41  Hydraulics_Flow           43362 non-null   object
 42  Track_Type                99153 non-null   object
 43  Undercarriage_Pad_Width   99872 non-null   object
 44  Stick_Length              99218 non-null   object
 45  Thumb                     99288 non-null   object
 46  Pattern_Changer           99218 non-null   object
 47  Grouser_Type              99153 non-null   object
 48  Backhoe_Mounting          78672 non-null   object
 49  Blade_Type                79833 non-null   object
 50  Travel_Controls           79834 non-null   object
 51  Differential_Type         69411 non-null   object
 52  Steering_Controls         69369 non-null   object
dtypes: float64(2), int64(6), object(45)
memory usage: 162.2+ MB

In [7]:
train_data.describe()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter
count,4.011250e+05,401125.000000,4.011250e+05,401125.000000,401125.000000,380989.000000,401125.000000,1.427650e+05
mean,1.919713e+06,31099.712848,1.217903e+06,6889.702980,134.665810,6.556040,1899.156901,3.457955e+03
std,9.090215e+05,23036.898502,4.409920e+05,6221.777842,8.962237,16.976779,291.797469,2.759026e+04
min,1.139246e+06,4750.000000,0.000000e+00,28.000000,121.000000,0.000000,1000.000000,0.000000e+00
25%,1.418371e+06,14500.000000,1.088697e+06,3259.000000,132.000000,1.000000,1985.000000,0.000000e+00
50%,1.639422e+06,24000.000000,1.279490e+06,4604.000000,132.000000,2.000000,1995.000000,0.000000e+00
75%,2.242707e+06,40000.000000,1.468067e+06,8724.000000,136.000000,4.000000,2000.000000,3.025000e+03
max,6.333342e+06,142000.000000,2.486330e+06,37198.000000,172.000000,99.000000,2013.000000,2.483300e+06

In [9]:
train_data.columns

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Blade_Extension',
       'Blade_Width', 'Enclosure_Type', 'Engine_Horsepower', 'Hydraulics',
       'Pushblock', 'Ripper', 'Scarifier', 'Tip_Control', 'Tire_Size',
       'Coupler', 'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow',
       'Track_Type', 'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb',
       'Pattern_Changer', 'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type',
       'Travel_Controls', 'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [10]:
train_data.shape

(401125, 53)

In [11]:
train_data["SalesID"]

0         1139246
1         1139248
2         1139249
3         1139251
4         1139253
           ...
401120    6333336
401121    6333337
401122    6333338
401123    6333341
401124    6333342
Name: SalesID, Length: 401125, dtype: int64

In [13]:
train_data["SalesID"].dtype

dtype('int64')

In [14]:
type(train_data["SalesID"])

pandas.core.series.Series

In [15]:
train_data["SalesID"][2019]

1145968

In [16]:
train_data.SalesID

0         1139246
1         1139248
2         1139249
3         1139251
4         1139253
           ...
401120    6333336
401121    6333337
401122    6333338
401123    6333341
401124    6333342
Name: SalesID, Length: 401125, dtype: int64

In [17]:
train_data.SalesID[2019]

1145968

In [20]:
train_data.at[2019,"SalesID"] ## AT function can be used directly to retrieve information from row and columns

1145968

In [21]:
train_data[["SalesID","MachineID","ModelID"]]

        SalesID  MachineID  ModelID
0       1139246     999089     3157
1       1139248     117657       77
2       1139249     434808     7009
3       1139251    1026470      332
4       1139253    1057373    17311
...         ...        ...      ...
401120  6333336    1840702    21439
401121  6333337    1830472    21439
401122  6333338    1887659    21439
401123  6333341    1903570    21435
401124  6333342    1926965    21435

[401125 rows x 3 columns]

In [22]:
train_data.loc[401120]

SalesID                                                               6333336
SalePrice                                                               10500
MachineID                                                             1840702
ModelID                                                                 21439
datasource                                                                149
auctioneerID                                                                1
YearMade                                                                 2005
MachineHoursCurrentMeter                                                  NaN
UsageBand                                                                 NaN
saledate                                                       11/2/2011 0:00
fiModelDesc                                                             35NX2
fiBaseModel                                                                35
fiSecondaryDesc                                                            NX
fiModelSeries                                                               2
fiModelDescriptor                                                         NaN
ProductSize                                                              Mini
fiProductClassDesc          Hydraulic Excavator, Track - 3.0 to 4.0 Metric...
state                                                                Maryland
ProductGroup                                                              TEX
ProductGroupDesc                                             Track Excavators
Drive_System                                                              NaN
Enclosure                                                               EROPS
Forks                                                                     NaN
Pad_Type                                                                  NaN
Ride_Control                                                              NaN
Stick                                                                     NaN
Transmission                                                              NaN
Turbocharged                                                              NaN
Blade_Extension                                                           NaN
Blade_Width                                                               NaN
Enclosure_Type                                                            NaN
Engine_Horsepower                                                         NaN
Hydraulics                                                          Auxiliary
Pushblock                                                                 NaN
Ripper                                                                    NaN
Scarifier                                                                 NaN
Tip_Control                                                               NaN
Tire_Size                                                                 NaN
Coupler                                                   None or Unspecified
Coupler_System                                                            NaN
Grouser_Tracks                                                            NaN
Hydraulics_Flow                                                           NaN
Track_Type                                                              Steel
Undercarriage_Pad_Width                                   None or Unspecified
Stick_Length                                              None or Unspecified
Thumb                                                     None or Unspecified
Pattern_Changer                                           None or Unspecified
Grouser_Type                                                           Double
Backhoe_Mounting                                                          NaN
Blade_Type                                                                NaN
Travel_Controls                                                           NaN
Differential_Type                                                         NaN
Steering_Controls                                                         NaN
Name: 401120, dtype: object

In [35]:
train_data.loc[[401120,401124]]  ## For only row, we need to use row index inside big bracket like a list

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
401120,6333336,10500,1840702,21439,149,1.0,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401124,6333342,7750,1926965,21435,149,2.0,2005,NaN,NaN,10/25/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [37]:
train_data.loc[40100:,"SalesID":"UsageBand"]

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand
40100,1279852,30000,1414924,3218,132,1.0,1995,NaN,NaN
40101,1279853,29000,1271125,3199,132,10.0,1995,NaN,NaN
40102,1279854,24000,1403424,3218,132,1.0,1995,NaN,NaN
40103,1279855,29000,1159936,3263,132,1.0,1995,NaN,NaN
40104,1279856,24000,1213829,3218,132,4.0,1995,NaN,NaN
...,...,...,...,...,...,...,...,...,...
401120,6333336,10500,1840702,21439,149,1.0,2005,NaN,NaN
401121,6333337,11000,1830472,21439,149,1.0,2005,NaN,NaN
401122,6333338,11500,1887659,21439,149,1.0,2005,NaN,NaN
401123,6333341,9000,1903570,21435,149,2.0,2005,NaN,NaN
401124,6333342,7750,1926965,21435,149,2.0,2005,NaN,NaN

In [38]:
train_data.loc[[40100,3,4,5,8,9],["SalesID","ModelID"]]

       SalesID  ModelID
40100  1279852     3218
3      1139251      332
4      1139253    17311
5      1139255     4605
8      1139272    36003
9      1139275     3883

In [39]:
train_data_copy=train_data.copy()

In [40]:
train_data_copy.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
train_data_copy.loc[[0,1,2]]=10

In [44]:
train_data_copy.loc[[0,1,2],["SalesID","ModelID"]]="Vishal"

In [45]:
train_data_copy.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,Vishal,10,10,Vishal,10,10.0,10,10.0,10,10,...,10,10,10,10,10,10,10,10,10,10
1,Vishal,10,10,Vishal,10,10.0,10,10.0,10,10,...,10,10,10,10,10,10,10,10,10,10
2,Vishal,10,10,Vishal,10,10.0,10,10.0,10,10,...,10,10,10,10,10,10,10,10,10,10
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
train_data_copy.loc[train_data_copy.SalesID!="Vishal"]

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1139255,26500,1001274,4605,121,3.0,2004,508.0,Low,12/18/2008 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1139256,21000,772701,1937,121,3.0,1993,11540.0,High,8/26/2004 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
7,1139261,27000,902002,3539,121,3.0,2001,4883.0,High,11/17/2005 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401120,6333336,10500,1840702,21439,149,1.0,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401121,6333337,11000,1830472,21439,149,1.0,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401122,6333338,11500,1887659,21439,149,1.0,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401123,6333341,9000,1903570,21435,149,2.0,2005,NaN,NaN,10/25/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401124,6333342,7750,1926965,21435,149,2.0,2005,NaN,NaN,10/25/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [48]:
train_data_copy.loc[:5,"SalesID":"UsageBand"]="Vishal"
train_data_copy.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,10,...,10,10,10,10,10,10,10,10,10,10
1,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,10,...,10,10,10,10,10,10,10,10,10,10
2,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,10,...,10,10,10,10,10,10,10,10,10,10
3,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
train_data_copy.sample(15)

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
69488,1347090,49000,1530639,7271,132,24,1985,NaN,NaN,3/13/1990 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
390496,4374918,10000,2295529,9580,172,1,2004,1417,Medium,11/17/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68567,1345447,42000,1117369,7013,132,6,1977,NaN,NaN,5/8/1996 0:00,...,30 inch,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
90130,1397850,64500,914158,1597,132,9,1997,NaN,NaN,5/18/2000 0:00,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN
48948,1291510,24000,1507247,3178,132,1,1998,NaN,NaN,6/26/2008 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41438,1281874,18000,1077635,3170,132,2,1989,NaN,NaN,7/28/2001 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256989,1783440,25000,1083536,9395,132,10,1979,NaN,NaN,4/30/1992 0:00,...,36 inch,None or Unspecified,None or Unspecified,None or Unspecified,Triple,NaN,NaN,NaN,NaN,NaN
333029,2343697,70000,1663059,14272,136,NaN,2006,1226,Medium,11/18/2008 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
218996,1686672,66000,1495604,22971,132,2,1000,NaN,NaN,4/25/1998 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
267789,1804921,13500,1247656,9563,132,1,1998,NaN,NaN,3/25/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369578,2629743,48000,1901732,14310,149,99,2002,0,NaN,4/19/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
71043,1352005,49000,235276,1596,132,1,1997,NaN,NaN,6/11/2003 0:00,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,VPAT,Finger Tip,NaN,NaN
130449,1482916,55000,1396461,3350,132,1,1988,NaN,NaN,2/20/1997 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149714,1523479,110000,57236,13864,132,1,1994,NaN,NaN,12/2/1998 0:00,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,None or Unspecified,None or Unspecified,NaN,NaN
95881,1408369,17500,1179417,7019,132,1,2003,NaN,NaN,6/6/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
train_data_copy.loc[:,:"ModelID"]

        SalesID SalePrice MachineID ModelID
0        Vishal    Vishal    Vishal  Vishal
1        Vishal    Vishal    Vishal  Vishal
2        Vishal    Vishal    Vishal  Vishal
3        Vishal    Vishal    Vishal  Vishal
4        Vishal    Vishal    Vishal  Vishal
...         ...       ...       ...     ...
401120  6333336     10500   1840702   21439
401121  6333337     11000   1830472   21439
401122  6333338     11500   1887659   21439
401123  6333341      9000   1903570   21435
401124  6333342      7750   1926965   21435

[401125 rows x 4 columns]

In [56]:
train_data_copy.iloc[1:,:7]

        SalesID SalePrice MachineID ModelID datasource auctioneerID YearMade
1        Vishal    Vishal    Vishal  Vishal     Vishal       Vishal   Vishal
2        Vishal    Vishal    Vishal  Vishal     Vishal       Vishal   Vishal
3        Vishal    Vishal    Vishal  Vishal     Vishal       Vishal   Vishal
4        Vishal    Vishal    Vishal  Vishal     Vishal       Vishal   Vishal
5        Vishal    Vishal    Vishal  Vishal     Vishal       Vishal   Vishal
...         ...       ...       ...     ...        ...          ...      ...
401120  6333336     10500   1840702   21439        149            1     2005
401121  6333337     11000   1830472   21439        149            1     2005
401122  6333338     11500   1887659   21439        149            1     2005
401123  6333341      9000   1903570   21435        149            2     2005
401124  6333342      7750   1926965   21435        149            2     2005

[401124 rows x 7 columns]

In [68]:
train_data_copy[:5]

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,10,...,10,10,10,10,10,10,10,10,10,10
1,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,10,...,10,10,10,10,10,10,10,10,10,10
2,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,10,...,10,10,10,10,10,10,10,10,10,10
3,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
new_series=train_data.SalePrice>=100000

In [70]:
print(new_series)

0         False
1         False
2         False
3         False
4         False
          ...
401120    False
401121    False
401122    False
401123    False
401124    False
Name: SalePrice, Length: 401125, dtype: bool

In [71]:
train_data[new_series]  ## We can form a bollean series series and pass that in dataframe that will act as filtering with respect to that boolean series over all data

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
68,1139482,102000,450508,1333,121,3.0,1998,8175.0,Medium,1/25/2007 0:00,...,None or Unspecified,"11' 0""",None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
155,1139724,126000,521623,23931,121,3.0,1999,8230.0,High,4/20/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,1139916,127000,498384,1638,121,3.0,1998,7190.0,Medium,3/8/2007 0:00,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,Semi U,Differential Steer,NaN,NaN
225,1139978,102000,998545,18171,121,3.0,2005,2848.0,High,11/15/2007 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
307,1140256,121000,986517,1935,121,3.0,2004,3478.0,High,10/25/2007 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400780,6320343,105000,1882296,5889,149,1.0,2007,NaN,NaN,6/30/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
400783,6320347,105000,1924168,18255,149,1.0,2007,NaN,NaN,6/30/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
400784,6320348,105000,1027962,18255,149,1.0,2007,NaN,NaN,6/30/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
400785,6320349,100000,1009448,18255,149,1.0,2007,NaN,NaN,6/30/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
400847,6320900,105000,1896732,18207,149,1.0,2003,NaN,NaN,12/14/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
train_data[pd.Series([True for i in range (401125)])]

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401120,6333336,10500,1840702,21439,149,1.0,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401121,6333337,11000,1830472,21439,149,1.0,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401122,6333338,11500,1887659,21439,149,1.0,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401123,6333341,9000,1903570,21435,149,2.0,2005,NaN,NaN,10/25/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401124,6333342,7750,1926965,21435,149,2.0,2005,NaN,NaN,10/25/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [82]:
train_data_copy["new"]=train_data_copy["SalePrice"]/14

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [83]:
train_data_copy["SalePrice"] = pd.to_numeric(train_data_copy["SalePrice"], errors='coerce')
train_data_copy["new"] = train_data_copy["SalePrice"] / 14

In [84]:
train_data_copy.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,new
0,Vishal,NaN,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,10,...,10,10,10,10,10,10,10,10,10,NaN
1,Vishal,NaN,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,10,...,10,10,10,10,10,10,10,10,10,NaN
2,Vishal,NaN,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,10,...,10,10,10,10,10,10,10,10,10,NaN
3,Vishal,NaN,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Vishal,NaN,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,Vishal,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
train_data_copy.drop(columns="SalePrice",inplace=True)
train_data_copy.head()

KeyError: "['SalePrice'] not found in axis"

In [88]:
train_data.sort_values("SalePrice")

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
392519,6257510,4750,1841026,6634,149,2.0,1000,NaN,NaN,8/20/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260859,1795592,4750,1216045,9550,132,17.0,1993,NaN,NaN,6/20/2002 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27398,1255781,4750,1089163,3112,132,2.0,1000,NaN,NaN,11/21/1998 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209243,1662164,4750,1337030,14750,132,4.0,1976,NaN,NaN,2/5/1998 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268625,1806137,4750,1333460,9517,132,2.0,1998,NaN,NaN,6/12/2002 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4878,1155699,142000,790302,23929,121,3.0,2005,1558.0,Medium,10/25/2007 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124806,1470274,142000,511258,3372,132,2.0,1997,NaN,NaN,4/23/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22900,1218767,142000,556175,23931,121,3.0,2005,4306.0,Medium,9/29/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124803,1470232,142000,1178561,3372,132,2.0,1996,NaN,NaN,2/8/2001 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21489,1213536,142000,276541,23931,121,3.0,2006,7387.0,High,3/31/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
train_data["saledate"]=pd.to_datetime(train_data["saledate"])

In [96]:
train_data.head()
train_data["saledate"].dtype

dtype('<M8[ns]')

In [99]:
train_data["Saledate_year"]=pd.DatetimeIndex(train_data["saledate"]).year
train_data.head()
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 54 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   object
 9   saledate                  401125 non-null  datetime64[ns]
 10  fiModelDesc               401125 non-null  object
 11  fiBaseModel               401125 non-null  object
 12  fiSecondaryDesc           263934 non-null  object
 13  fiModelSeries             56908 non-null   object
 14  fiModelDescriptor         71919 non-null   object
 15  ProductSize               190350 non-null  object
 16  fiProductClassDesc        401125 non-null  object
 17  state                     401125 non-null  object
 18  ProductGroup              401125 non-null  object
 19  ProductGroupDesc          401125 non-null  object
 20  Drive_System              104361 non-null  object
 21  Enclosure                 400800 non-null  object
 22  Forks                     192077 non-null  object
 23  Pad_Type                  79134 non-null   object
 24  Ride_Control              148606 non-null  object
 25  Stick                     79134 non-null   object
 26  Transmission              183230 non-null  object
 27  Turbocharged              79134 non-null   object
 28  Blade_Extension           25219 non-null   object
 29  Blade_Width               25219 non-null   object
 30  Enclosure_Type            25219 non-null   object
 31  Engine_Horsepower         25219 non-null   object
 32  Hydraulics                320570 non-null  object
 33  Pushblock                 25219 non-null   object
 34  Ripper                    104137 non-null  object
 35  Scarifier                 25230 non-null   object
 36  Tip_Control               25219 non-null   object
 37  Tire_Size                 94718 non-null   object
 38  Coupler                   213952 non-null  object
 39  Coupler_System            43458 non-null   object
 40  Grouser_Tracks            43362 non-null   object
 41  Hydraulics_Flow           43362 non-null   object
 42  Track_Type                99153 non-null   object
 43  Undercarriage_Pad_Width   99872 non-null   object
 44  Stick_Length              99218 non-null   object
 45  Thumb                     99288 non-null   object
 46  Pattern_Changer           99218 non-null   object
 47  Grouser_Type              99153 non-null   object
 48  Backhoe_Mounting          78672 non-null   object
 49  Blade_Type                79833 non-null   object
 50  Travel_Controls           79834 non-null   object
 51  Differential_Type         69411 non-null   object
 52  Steering_Controls         69369 non-null   object
 53  Saledate_year             401125 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(44)
memory usage: 165.3+ MB

In [100]:
train_data_year=train_data.groupby("Saledate_year")

In [104]:
train_data_year[["SalePrice","datasource"]].mean()

                  SalePrice  datasource
Saledate_year
1989           28452.902622  132.000000
1990           30878.361669  132.000000
1991           31268.909571  132.000000
1992           28565.310745  132.000000
1993           29922.238617  132.000000
1994           31089.368016  132.000000
1995           29062.072098  132.000000
1996           30589.424623  132.000000
1997           30767.685232  132.000000
1998           31578.165721  132.000000
1999           29770.612366  132.000000
2000           30054.242148  132.000000
2001           29041.848414  132.000000
2002           28363.640844  132.000000
2003           28300.442507  132.000262
2004           29704.192867  131.204286
2005           31192.315399  131.043151
2006           33426.347706  131.042287
2007           33348.425950  133.332930
2008           33143.446627  133.659894
2009           29729.033319  137.084130
2010           31039.243037  140.470650
2011           33894.308577  146.511919

In [118]:
import pandas as pd

data = {'color': ['red', 'blue', 'green', 'red', 'green', 'yellow'], 'target': [0, 1, 1, 0, 1, 0]}
df = pd.DataFrame(data)

target_encoding = df.groupby('color')['target'].mean()
print(target_encoding)
df['color_encoded'] = df['color'].map(target_encoding)

print(df)

color
blue      1
green     1
red       0
yellow    0
Name: target, dtype: int64
    color  target  color_encoded
0     red       0              0
1    blue       1              1
2   green       1              1
3     red       0              0
4   green       1              1
5  yellow       0              0

In [120]:
import pandas as pd

data = {'color': ['red', 'blue', 'green', 'red', 'green', 'yellow']}
df = pd.DataFrame(data)

dummy_df = pd.get_dummies(df['color'], prefix='color')
print(dummy_df)

df = pd.concat([df, dummy_df], axis=1)
df.drop('color', axis=1, inplace=True)

print(df)

   color_blue  color_green  color_red  color_yellow
0           0            0          1             0
1           1            0          0             0
2           0            1          0             0
3           0            0          1             0
4           0            1          0             0
5           0            0          0             1
   color_blue  color_green  color_red  color_yellow
0           0            0          1             0
1           1            0          0             0
2           0            1          0             0
3           0            0          1             0
4           0            1          0             0
5           0            0          0             1

In [3]:
print(1//2)

0

## Pandas Practice

In [1]:
import pandas as pd

In [2]:
dataset=pd.DataFrame({"city":["Patna","Pune","Chennai"],"name":["Vishal","rohan","sohan"]},index=["P1","P2","P3"])
dataset

       city    name
P1    Patna  Vishal
P2     Pune   rohan
P3  Chennai   sohan

In [3]:
dataset.head()

       city    name
P1    Patna  Vishal
P2     Pune   rohan
P3  Chennai   sohan

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, P1 to P3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    3 non-null      object
 1   name    3 non-null      object
dtypes: object(2)
memory usage: 72.0+ bytes

In [5]:
dataset.shape

(3, 2)

In [6]:
def split_sentence(sentence):
  """
  This function splits a sentence into a list of words, removing punctuation marks.

  Args:
      sentence: The sentence to be split.

  Returns:
      A list of words from the sentence.
  """

  # Define punctuation to remove
  punctuations = ",- *!"

  # Remove punctuation and split the sentence into words
  words = [word.strip() for word in sentence.split() if word not in punctuations]

  return words

# Example usage
sentence = "This is a sentence, with various-special*characters!"
list_of_words = split_sentence(sentence)

print(list_of_words)

['This', 'is', 'a', 'sentence,', 'with', 'various-special*characters!']

In [ ]:
reset_index() used to make multi-label into single label. And can be used after groupby aggregate fn. Similarly for sort_values and sort_index